<div *ngIf="year$ | async as year" class="containier">
  <h1>{{year.year}}</h1>
  <div *ngFor="let month of year.expense_months" class="month">
    <h2>name: {{month.name}}</h2>
    <p>designated amount: {{month.designated_amount}}</p>
  </div>
</div>
